<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电子书商城</title>
</head>
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="login-wrapper">-->
<!--        <div class="header">登录</div>-->
<!--        <form action="/demo/login/index/shopcar/" method="post">-->
<!--            {% csrf_token %}-->
<!--            <div class="form-wrapper">-->
<!--                <input type="text" name="user" placeholder="用户名" class="input-item">-->
<!--                <input type="password" name="password" placeholder="密码" class="input-item">-->
<!--                <input type="submit" value="购物车中心" class = "btn">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
<!--</body>-->
<body>
<div class="da">
<div class="lo">
<div class="go"><img src="../images/logo.jpg" /></div>
<div class="kg"><input name="" type="text" /> <p><a href="#">搜索</a></p></div>
</div>
<div class="dao"><ul>
<li><a href="index.html" >首页</a></li>
<li><a href="wenxue.html">文学频道</a></li>
<li><a href="sheke.html">社科频道</a></li>
<li><a href="s号r.html">少儿频道</a></li>
<li><a href="shengh.html">生活频道</a></li>
<li><a href="dengl.html">用户登录</a></li>
<li><a href="zuce.html">用户注册</a></li></ul></div>
<div class="ban"><img src="images/shou1.jpg" /></div>

<div class="sha">

<div class="mz"><p><strong>低价专区</strong></p>
<p><strong>公共营养师</strong></p><p><strong>旅行圣经</strong></p><p><strong>小学图书馆</strong></p></div>

<div class="dia"><img src="../images/miao5.jpg" /><img src="images/miao6.jpg" /><img src="images/miao7.jpg" /><img src="images/miao8.jpg" /></div>

<div class="zuo">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="60">
  <tr>
    <td width="4%"><img src="../images/shou5.jpg" /></td>
    <td width="96%"><span class="STYLE7">作家推荐</span></td>
  </tr>
</table>
</div>


<div class="zhe"><img src="../images/zhe1.jpg" /><img src="images/zhe2.jpg" /><img src="images/zhe3.jpg" /><img src="images/zhe4.jpg" /></div>
<div class="zzi"><p>杨绛</p><p>东野圭吾</p><p>加西亚·马尔克斯</p><p>曹文轩</p></div>




<div class="clearit"></div>

<div class="foot"><p>@图书商城</p></div>
</div>
    </body>
</html>